<div class="sample-of-custom-console-extensions">
    <div class="sample-of-custom-console-extensions__innter">
        <p>Smaple of "Custom Console Extensions" Started.</p>
        <p><button class="px2-btn" data-gpi-request="async-demo">Async, Broadcast のデモ</button></p>
    </div>
</div>
