// Pickles2: Theme Editor
@charset "utf-8";
.sample-of-custom-console-extensions {

	// px2style
	@import '../node_modules/px2style/dist/px2style';

	overflow: auto;
	display: flex;
}

.sample-of-custom-console-extensions {
	&__inner {
		max-width: 480px;
		margin: 0 auto;
	}
}
